# Code for creating a clean file ready for data analysis

In [1]:
# load packages here
import pandas as pd

In [2]:
# read the files
"""
READ ME!

Once the data collection is completed, change the PATH to the correct files for both `qualtrics` and `logbook`,
run all cells in this Jupyter notebook, and then a clean CSV file will be ready for the data analysis.
"""

qualtrics = pd.read_excel("Qualtrics_raw.xlsx") # download from Qualtrics
logbook = pd.read_excel("Logbook.xlsx") # download from "Research assistant" folder in Teams

/Users/ada/Library/jupyterlab-desktop/jlab_server/lib/python3.12/site-packages/openpyxl/styles/stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

### Data Wrangling
### *Qualtrics*

In [3]:
qualtrics.head()

,StartDate,EndDate,Status,Progress,Duration (in seconds),Finished,RecordedDate,ResponseId,DistributionChannel,UserLanguage,...,Timer_Last Click,Timer_Page Submit,Timer_Click Count,Perceived_distribu_1,Evaluation_1,Evaluation_2,Evaluation_3,Evaluation_4,Manipulation_check,Data_submission
0,Start Date,End Date,Response Type,Progress,Duration (in seconds),Finished,Recorded Date,Response ID,Distribution Channel,User Language,...,Timing - Last Click,Timing - Page Submit,Timing - Click Count,"According to what you've heard so far, what is...",How strongly do you agree or disagree with the...,How strongly do you agree or disagree with the...,How strongly do you agree or disagree with the...,How strongly do you agree or disagree with the...,Did the majority of robots agree or disagree w...,"By selecting ""Yes,"" you confirm your willingne..."
1,2025-11-10 08:28:17,2025-11-10 09:15:29,0,100,2832,1,2025-11-10 09:15:30.220000,R_8OpIXMuusX77oBC,anonymous,EN,...,0,672.313,0,72,4,2,3,2,1,1
2,2025-11-10 09:16:22,2025-11-10 09:57:16,0,100,2454,1,2025-11-10 09:57:16.881000,R_8QlltkinZjW0Jkr,anonymous,EN,...,0,497.16,0,45,4,1,3,4,2,1
3,2025-11-10 09:59:34,2025-11-10 10:46:32,0,100,2817,1,2025-11-10 10:46:32.611000,R_2Gwy1UnLrArudSF,anonymous,EN,...,519.464,519.962,3,19,1,1,2,3,1,1
4,2025-11-10 10:47:18,2025-11-10 11:28:48,0,100,2490,1,2025-11-10 11:28:49.275000,R_8hlNW2xwhUqJJjQ,anonymous,EN,...,0,520.799,0,30,4,3,4,4,2,1

In [4]:
qualtrics.columns

Index(['StartDate', 'EndDate', 'Status', 'Progress', 'Duration (in seconds)',
       'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel',
       'UserLanguage', 'Condition', 'Experimenter_ID', 'Informed_consent',
       'Age', 'Gender', 'Student', 'Timer_First Click', 'Timer_Last Click',
       'Timer_Page Submit', 'Timer_Click Count', 'Perceived_distribu_1',
       'Evaluation_1', 'Evaluation_2', 'Evaluation_3', 'Evaluation_4',
       'Manipulation_check', 'Data_submission'],
      dtype='object')

In [5]:
# Drop columns that are not important for further analyses
qualtrics = qualtrics.drop(['StartDate','EndDate', 'Informed_consent','Progress','Status', 'Duration (in seconds)', 'Finished', 'RecordedDate', 'ResponseId', 'DistributionChannel', 'UserLanguage', 'Timer_First Click', 'Timer_Last Click',
       'Timer_Page Submit', 'Timer_Click Count', 'Data_submission'], axis = 1)

In [6]:
# Drop first row which shows descriptions of each column
qualtrics = qualtrics.loc[1:]

In [7]:
# Reset index for merging
qualtrics = qualtrics.reset_index(drop=True)

In [8]:
qualtrics.head()

,Condition,Experimenter_ID,Age,Gender,Student,Perceived_distribu_1,Evaluation_1,Evaluation_2,Evaluation_3,Evaluation_4,Manipulation_check
0,1,1,35,1,1,72,4,2,3,2,1
1,1,1,20,2,2,45,4,1,3,4,2
2,1,1,19,2,2,19,1,1,2,3,1
3,2,1,22,2,2,30,4,3,4,4,2
4,1,1,27,1,2,75,2,1,3,3,1

### *Logbook*

In [9]:
logbook.head()

,Examples,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7
0,Date,Experimenter,Participant numbers (first;last),Notes (please start each note with the pp nume...,No. of pp that request monetary compensation,NaN,NaN,Error code
1,2025-11-05 00:00:00,Jade,1;3,pp 1: indicated to have programming experience...,NaN,NaN,NaN,"0 = no error\nNo technical error at all, or on..."
2,NaN,NaN,NaN,pp 2: did not show up,NaN,NaN,NaN,"1 = minor \nSmall techincal error, did not aff..."
3,NaN,NaN,NaN,"pp 2: Nao 3 paused for a long time, but was ab...",NaN,NaN,NaN,2 = major\nBig techincal error occured during ...
4,NaN,NaN,NaN,pp 3: indicated afterwards that they noticed t...,NaN,NaN,NaN,3 = participant did not show up (either simply...

In [10]:
# Drop the first 8 rows which were the instructions for research assistant to record the codebook
logbook = logbook[8:]

In [11]:
# Rename the columns in the table
new_header = logbook.iloc[0]  # take the first row as header
logbook.columns = new_header # set new header

In [12]:
# Drop the first row (new) wich was used to rename the columns
logbook = logbook[1:]

In [13]:
logbook.columns

Index([                                                             'Date',
                                                            'Experimenter',
                                        'Participant numbers (first;last)',
       'Notes (please start each note with the pp numer and in a new row)',
                            'No. of pp that request monetary compensation',
                                                                       nan,
                                                               'Condition',
                                                             'Error code '],
      dtype='object', name=8)

In [14]:
# Only keep column that can compliment information to the qualtrics file
logbook = logbook[['Error code ']]

**Note**: 
- error code 0 = no error
- error code 1 = minor error
- error code 2 = major error
- error code 3 = participant did not show up (either being simply absent or was sent away due to major technical issues before the experiment began)

Participants who did not show up don't have responses for Qualtrics, so we need to exclude them before merging the files.

In [15]:
# Exclude participants who did not show up
logbook = logbook[logbook['Error code '] != 3]

In [16]:
# Reset index for merging
logbook = logbook.reset_index(drop=True)

In [17]:
logbook

8   Error code
0             2
1             0
2             0
3             1
4             1
..          ...
110           0
111           0
112           0
113           0
114           1

[115 rows x 1 columns]

### Data Merging
Responses in the `qualtrics` and `logbook` files are recorded chronologically (top to bottom), with each row corresponding to the same participant across both datasets. So we merge them by index.

In [18]:
df_all = pd.merge(logbook, qualtrics, left_index=True, right_index=True)

In [19]:
print(f"{len(df_all[df_all['Error code '] == 2])} participants experienced major technical issues during their participation.")

15 participants experienced major technical issues during their participation.

In [20]:
# Exclude participants experienced major technical issues
df = df_all[df_all['Error code '] != 2]

In [21]:
df

,Error code,Condition,Experimenter_ID,Age,Gender,Student,Perceived_distribu_1,Evaluation_1,Evaluation_2,Evaluation_3,Evaluation_4,Manipulation_check
1,0,1,1,20,2,2,45,4,1,3,4,2
2,0,1,1,19,2,2,19,1,1,2,3,1
3,1,2,1,22,2,2,30,4,3,4,4,2
4,1,1,1,27,1,2,75,2,1,3,3,1
5,0,1,1,19,2,2,66,4,1,4,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...
110,0,1,1,25,2,1,30,4,2,3,3,1
111,0,2,1,18,2,2,44,4,2,4,3,2
112,0,1,1,20,1,2,28,2,1,4,4,1
113,0,2,1,20,2,2,60,4,1,2,2,2
114,1,2,1,25,2,1,33,2,1,2,1,1

In [22]:
df.to_csv("robots_socialInfluence.csv", index=False)